# Optional Basic Auth
BASIC_AUTH_USER=admin
BASIC_AUTH_PASS=1234

# Event info (PDF)
EVENT_NAME=BOLOGNA RUGBY CLUB - FESTA DI FINE SESSIONE
EVENT_DATE=Sabato 15 Marzo 2026
EVENT_TIME=21:00
EVENT_LOCATION=Bologna

# Watermark text
TICKET_WATERMARK=VALIDO SOLO 1 INGRESSO
